@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400&display=swap');
:root{
    --main-color: #5E2BB8;
    --sub-color: #08D1D9;
    --icon-color:#cccccc;
    --font-white: white;
    --font-darkgray: #363636;
    --font-gray: #666666;
}


*{
    margin: 0;
    padding: 0;
}

li{
    list-style: none;
}

a{
    text-decoration: none;
    color:var(--font-darkgray);
}

img{
    display: block;
}

 body{
    font-family: 'Noto Sans KR';
 }

.warp{
     width: 100%;
     margin: 0 auto;
 }

 .main-title{
    color: var(--font-darkgray);
    font-size: 60px;
    padding-bottom: 20px;
    text-align: center;
}

.sub-title{
    color: var(--font-gray);
    font-size: 32px;
    text-align: center;
}

 header{
     width: 100%;
     height: 132px;
     margin: 0 auto;
 }

.header-inner{
    width: 1394px;
    height: 132px;
    margin: 0 auto;
 }

.header-inner span{
    clip: rect(1px, 1px, 1px, 1px);
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}
 
.header-inner .logo{
     height: 132px;
     font-size: 15px;
     margin: 0 auto;
     float: left;
 }

 .header-inner .logo img{
    padding-top: 48px;
 }

.header-nav{
    float: left;
    margin: 0 auto;
    margin-left: 50px;
    margin-right: 50px;
    height: 130px;
}

.header-nav li{
    float: left;
    width: 200px;
    height: 128px;
    text-align: center;
    line-height: 125px;
    font-size: 24px;
}

.header-nav li a{
    color: var(--font-darkgray);
    display: block;
    width: 100%;
    height: 100%;
}

.header-nav .bar{
    width: 0%;
    height: 4px;
    background-color: var(--main-color);
    transition: 1s;
}

.header-nav li:hover .bar{
    width: 100%;
}

.header-nav li a:hover{
    color: var(--main-color);
    transition: 0.5s;
}

.nav-icon{
    float: left;
    padding-top: 45px;
}

.nav-icon .language{
    width: 40px;
    height: 40px;
    float: left;
    padding-right: 34px;
}

.nav-icon .search{
    width: 40px;
    height: 40px;
    float: left;
}

#main{
    width: 100%;
    height: 880px;
    margin: 0 auto;
    position: relative;
}

.main-inner{
    width: 100%;
    height: 880px;
    margin: 0 auto;
}

.main-slider{
    width: 100vw;
    margin: 0 auto;
}

.slider{
    width: 100vw;
    height: 880px;
    overflow: hidden;
}

.slider-box{
    height: 880px;
}

.slide{
    position: relative;
    float: left;
    width: 100vw;
}

.buttons div:nth-last-child(2){
    position: absolute;
    top: 45%;
    left: 3%;
    cursor: pointer;
}

.buttons div:nth-last-child(1){
    position: absolute;
    top: 45%;
    right: 3%;
    cursor: pointer;
}

.main-inner .newhana-text{
    position: absolute;
    top: 40%;
    left: 15%;
    color: var(--font-white);
}

.main-inner .newhana-text h1{
    font-size: 60px;
}

.main-inner .newhana-text p{
    font-size: 32px;
    padding-top: 20px;
}

.dreams{
    width: 1216px;
    height: auto;
    margin: 0 auto;
    padding-top: 360px;
}

.dreams-title{
    color: var(--font-darkgray);
    width: 718px;
    text-align: center;
    margin: 0 auto;
}


.dreams-content{
    width: 100%;
    height: 640px;
    padding-top: 82px;
    margin: 0 auto;
}

.dreams-item{
    float: left;
    margin-right: 32px;
    cursor: pointer;
    width: 384px;
}

.dreams-item:nth-child(3){
    margin-right: 0px;
}

.item-inner{
    width: 100%;
    height: 100%;
    object-fit: cover;
    transform: scale(1.0);
    transition: 1s;
}

.item-inner:hover{
    transform: scale(1.1);
    transition: 1s;
}

.blackbox{
    background-color:black;
    width: 100%;
    height: 100%;
    opacity: 0.5;
    transition: 1s;
}

.blackbox:hover{
    opacity: 0;
    transition: 1s;
}

.travel-img{
    background-image: url(img/travel.jpg);
    height: 480px;
    margin-bottom: 20px;
}

.culture-img{
    background-image: url(img/culture.jpg);
    height: 480px;
    margin-bottom: 20px;
}

.happiness-img{
    background-image: url(img/happiness.jpg);
    height: 480px;
    margin-bottom: 20px;
}

.dreams-content .content-title{
    color: var(--font-darkgray);
    font-size: 32px;
    text-align: center;
}

.dreams-content .content-text{
    color: var(--font-darkgray);
    font-size: 18px;
    text-align: center;
    padding-top: 10px;
}

.foundation{
    width: 100%;
    height: 1088px;
    margin: 0 auto;
    padding-top: 360px;
    position: relative;
}

.foundation-icon{
    position: absolute;
    left: 50%;
    top: 19%;
    transform: translateX(-50%);
}

.foundation .imgbox{
    width: 100%;
    height: 1088px;
    background-image: url(img/foundation_img.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center; 
    background-attachment: fixed; 
}

.foundation-content{
    width: 900px;
    height: 500px;
    background-color: white;
    position: absolute;
    top:40%;
    right: -18px;
    text-align: center;
}

.foundation-content h2{
    margin-top: 10%;
    color: var(--font-darkgray);
    font-size: 46px;
}

.foundation-content p{
    padding: 20px 0px 42px 0px;
    color: var(--font-gray);
    font-size: 32px;
}

.foundation-content .button{
    width: 300px;
    height: 80px;
    background-color: var(--main-color);
    border: none;
    border-radius: 50px;
    font-size: 24px;
    margin: 0 auto;
}

.foundation-content .button:hover{
    background-color: var(--sub-color);
    transition: 0.3s;
}

.foundation-content .button a{
    display: block;
    width: 300px;
    height: 80px;
    font-size: 24px;
    color: var(--font-white);
    line-height: 80px;
}

.service{
    width: 100%;
    height: 980px;
    padding-top: 360px;
}

.tap-menu{
    width: 1206px;
    height: 80px;
    margin: 0 auto;
}

.tap-menu ul{
    margin-top: 54px;
}

.tap-menu ul>li{
    float: left;
    background-color: #161616;
    width: 300px;
    height: 80px;
    text-align: center;
    line-height: 75px;
}

.tap-menu ul>li:hover{
    background-color: var(--sub-color);
    transition: 0.3s;
}

.tap-menu ul>li:not(:last-child){
    margin-right: 2px;
}

.tap-menu ul>li>a{
    color: var(--font-white);
    font-size: 24px;
    font-weight: 300;
    width: 100%;
    height: 80px;
    display: block;
}

.container{
    margin-top: 45px;
    position: relative;
}

.page{
    width: 1912px;
    height: 640px;
    position: absolute;
    opacity: 0;
    transition: 1s;
}

.active{
    opacity: 1;
    z-index: 10;
}

.page-img{
    width: 1080px;
    height: 640px;
    margin: 0 auto;
    float: left;
}

.page-content{
    height: 350px;
    float: left;
    text-align: left;
    padding-top: 150px;
    margin-left: 104px;
    position: relative;
}

.page-content h3{
    font-size: 46px;
    padding-bottom: 20px;
    color: var(--font-darkgray);
}

.page-content p{
    font-size: 24px;
    color: var(--font-darkgray);
}

.service-but{
    width: 300px;
    height: 80px;
    background-color: var(--main-color);
    border: none;
    border-radius: 50px;
    font-size: 24px;
    text-align: center;
    position: absolute;
    bottom: 0;
}

.service-but:hover{
    background-color: var(--sub-color);
    transition: 0.3s;
}

.service-but a{
    width: 300px;
    height: 80px;
    display: block;
    color: var(--font-white);
    line-height: 80px;
}

.peopleinfo{
    width: 100%;
    height: 1200px;
    padding-top: 360px;
    position: relative;
}

.peopleinfo-icon{
    position: absolute;
    left: 50%;
    top: 18%;
    transform: translateX(-50%);
}

.peopleinfo-title{
    font-size: 60px;
    color: var(--font-white);
    position: absolute;
    top: 34%;
    left: 50%;
    transform: translateX(-50%);
}

.peopleinfo-content{
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translateX(-50%);
}

.peopleinfo_img{
    width: 100%;
    height: 800px;
    background-image: url(img/peopleinfo_img.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed; 
}

.content-box{
    width: 1008px;
    height: 672px;
}

.content-box .servicemind{
    width: 488px;
    height: 320px;
    background-color: white;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    float: left;
}

.content-box .promind{
    width: 488px;
    height: 320px;
    background-color: white;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    float: right;
}

.content-box .global{
    width: 488px;
    height: 320px;
    background-color: white;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    float: left;
    margin-top: 32px;
}

.content-box .digitalmind{
    width: 488px;
    height: 320px;
    background-color: white;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    float: right;
    margin-top: 32px;
}

.content-box .mini-title{
    font-size: 46px;
    color: var(--font-darkgray);
    font-weight: 800;
    text-align: center;
    padding-top: 80px;
}

.content-box .mini-text{
    font-size: 32px;
    color: var(--font-gray);
    text-align: center;
    padding-top: 15px;
}

.peopleinfo-content .button{
    width: 300px;
    height: 80px;
    background-color: var(--main-color);
    border: none;
    border-radius: 50px;
    font-size: 24px;
    margin: 0 auto;
    text-align: center;
    line-height: 80px;
    margin-top: 72px;
}

.peopleinfo-content .button a{
    color: var(--font-white);
    width: 300px;
    height: 80px;
    display: block;
}

.peopleinfo-content .button:hover{
    background-color: var(--sub-color);
    transition: 0.3s;
}

footer{
    width: 100%;
    height: 350px;
    margin-top: 200px;
    background-color: white;
    box-shadow: 0px -6px 12px rgba(0, 0, 0, 0.05);
    font-size: 16px;
}

.footer-inner{
    width: 1550px;
    height: auto;
    margin: 0 auto;
}

.footer-inner .footertop{
    padding-top: 103px;
    width: auto;
    height: 52px;
}

.footertop .footer-logo{
    width: 180px;
    height: 36px;
    float: left;
    margin-top: 10px;
}

.footertop-icon{
    width: 492px;
    float: right;
}

.footertop-icon li{
    width: 52px;
    height: 52px;
    float: left;
}

.footertop-icon li:not(:last-child){
    margin-right: 36px;
}

.footertop-icon li a{
    width: 52px;
    height: 52px;
    display: block;
}

.footertop-icon li a span{
    clip: rect(1px, 1px, 1px, 1px);
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.footertop-icon .facebook{
    background-image: url(img/footericon-facebook.png);
    background-color: var(--icon-color);
    background-repeat: no-repeat;
    border-radius: 50%;
    background-position: center;
}

.footertop-icon .facebook:hover{
    background-color: #3E5A9B;
    transition: 0.3s;
}

.footertop-icon .instagram{
    background-image: url(img/footericon-instagram.png);
    background-color: var(--icon-color);
    background-repeat: no-repeat;
    border-radius: 50%;
    background-position: center;
}

.footertop-icon .instagram:hover{
    background-color: #CA2162;
    transition: 0.3s;
}

.footertop-icon .blog{
    background-image: url(img/footericon-blog.png);
    background-color: var(--icon-color);
    background-repeat: no-repeat;
    border-radius: 50%;
    background-position: center;
}

.footertop-icon .blog:hover{
    background-color: #40C917;
    transition: 0.3s;
}

.footertop-icon .kakaoplus{
    background-image: url(img/footericon-kakaoplus.png);
    background-color: var(--icon-color);
    background-repeat: no-repeat;
    border-radius: 50%;
    background-position: center;
}

.footertop-icon .kakaoplus:hover{
    background-color: #FBC011;
    transition: 0.3s;
}

.footertop-icon .youtube{
    background-image: url(img/footericon-youtube.png);
    background-color: var(--icon-color);
    background-repeat: no-repeat;
    border-radius: 50%;
    background-position: center;
}

.footertop-icon .youtube:hover{
    background-color: #ED1F24;
    transition: 0.3s;
}

.footertop-icon .kakaostory{
    background-image: url(img/footericon-kakaostory.png);
    background-color: var(--icon-color);
    background-repeat: no-repeat;
    border-radius: 50%;
    background-position: center;
}

.footertop-icon .kakaostory:hover{
    background-color: #FBC011;
    transition: 0.3s;
}

.footermiddle{
    width: 100%;
    height: 25px;
    padding-top: 45px;
}
    
.footermiddle-left{
    width: auto;
    height: 25px;
    float: left;
    color: var(--font-darkgray);
}

.footermiddle-left span{
    position: relative;
    padding-right: 20px;
}

.footermiddle-left span::after{
    content: '';
    position: absolute;
    width: 1px;
    height: 15px;
    background-color: var(--font-gray);
    top: 7px;
    right: 7px;
}

.footermiddle-left span:last-of-type::after{
    width: 0px;
    height: 0px;
}

.footermiddle-left span:last-of-type{
    padding-right: 0px;
}

.footermiddle-right{
    width: auto;
    height: 25px;
    float: right;
}

.footermiddle-right span{
    position: relative;
    padding-right: 20px;
}

.footermiddle-right span::after{
    content: '';
    position: absolute;
    width: 1px;
    height: 15px;
    background-color: var(--font-gray);
    top: 7px;
    right: 7px;
}

.footermiddle-right span:last-of-type::after{
    width: 0px;
    height: 0px;
}

.footermiddle-right span:last-of-type{
    padding-right: 0px;
}

.footerbottom{
    width: 100%;
    height: 25px;
    padding-top: 8px;
}

.footerbottom-info{
    float: left;
    color: var(--font-darkgray);
    width: auto;
}

.footerbottom-info span{
    padding-right: 20px;
    position: relative;
}

.footerbottom-info span::after{
    content: '';
    position: absolute;
    width: 1px;
    height: 15px;
    background-color: var(--font-gray);
    top: 7px;
    right: 7px;
}

.footerbottom-info span:last-of-type::after{
    width: 0px;
    height: 0px;
}

.footerbottom-info span:last-of-type{
    padding-right: 0px;
}

.footerbottom .copy{
    float: right;
    color: var(--font-gray);
    font-weight: 300;
}